<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SendCustomerOTPServlet</servlet-name>
        <servlet-class>SendCustomerOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCustomerOTPServlet</servlet-name>
        <servlet-class>VerifyCustomerOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBooksServlet</servlet-name>
        <servlet-class>SearchBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToWishlistServlet</servlet-name>
        <servlet-class>AddToWishlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromWishlistServlet</servlet-name>
        <servlet-class>RemoveFromWishlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>UploadServlet.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestBookServlet</servlet-name>
        <servlet-class>RequestBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendSignupOTPServlet</servlet-name>
        <servlet-class>SendSignupOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifySignupOTPServlet</servlet-name>
        <servlet-class>VerifySignupOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendadminOTPServlet</servlet-name>
        <servlet-class>SendadminOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyadminOTPServlet</servlet-name>
        <servlet-class>VerifyadminOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetailsServlet</servlet-name>
        <servlet-class>BookDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookRequestServlet</servlet-name>
        <servlet-class>BookRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRequestOTPServlet</servlet-name>
        <servlet-class>SendRequestOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestverifyOtp</servlet-name>
        <servlet-class>RequestverifyOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendReturnOTPServlet</servlet-name>
        <servlet-class>SendReturnOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyReturnOTPServlet</servlet-name>
        <servlet-class>VerifyReturnOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DailyReturnReminder</servlet-name>
        <servlet-class>DailyReturnReminder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verify_request_otp</servlet-name>
        <servlet-class>Verify_request_otp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendNotificationsServlet</servlet-name>
        <servlet-class>SendNotificationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartupServlet</servlet-name>
        <servlet-class>StartupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifyTask</servlet-name>
        <servlet-class>NotifyTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifyMeServlet</servlet-name>
        <servlet-class>NotifyMeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCancelUncollectedRequests</servlet-name>
        <servlet-class>AutoCancelUncollectedRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleSuggestionServlet</servlet-name>
        <servlet-class>HandleSuggestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendDeptLoginOtpServlet</servlet-name>
        <servlet-class>SendDeptLoginOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyDeptLoginOtpServlet</servlet-name>
        <servlet-class>VerifyDeptLoginOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendDeptSignupOtpServlet</servlet-name>
        <servlet-class>SendDeptSignupOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyDeptSignupOtpServlet</servlet-name>
        <servlet-class>VerifyDeptSignupOtpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendCustomerOTPServlet</servlet-name>
        <url-pattern>/admin/SendCustomerOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCustomerOTPServlet</servlet-name>
        <url-pattern>/admin/VerifyCustomerOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBooksServlet</servlet-name>
        <url-pattern>/SearchBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToWishlistServlet</servlet-name>
        <url-pattern>/AddToWishlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromWishlistServlet</servlet-name>
        <url-pattern>/RemoveFromWishlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestBookServlet</servlet-name>
        <url-pattern>/RequestBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendSignupOTPServlet</servlet-name>
        <url-pattern>/dept/SendSignupOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifySignupOTPServlet</servlet-name>
        <url-pattern>/dept/VerifySignupOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendadminOTPServlet</servlet-name>
        <url-pattern>/admin/SendadminOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyadminOTPServlet</servlet-name>
        <url-pattern>/admin/VerifyadminOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetailsServlet</servlet-name>
        <url-pattern>/BookDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookRequestServlet</servlet-name>
        <url-pattern>/BookRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRequestOTPServlet</servlet-name>
        <url-pattern>/SendRequestOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestverifyOtp</servlet-name>
        <url-pattern>/RequestverifyOtp</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            welcome.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>SendReturnOTPServlet</servlet-name>
        <url-pattern>/SendReturnOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyReturnOTPServlet</servlet-name>
        <url-pattern>/VerifyReturnOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DailyReturnReminder</servlet-name>
        <url-pattern>/DailyReturnReminder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verify_request_otp</servlet-name>
        <url-pattern>/Verify_request_otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendNotificationsServlet</servlet-name>
        <url-pattern>/SendNotificationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartupServlet</servlet-name>
        <url-pattern>/StartupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifyTask</servlet-name>
        <url-pattern>/NotifyTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifyMeServlet</servlet-name>
        <url-pattern>/NotifyMeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCancelUncollectedRequests</servlet-name>
        <url-pattern>/AutoCancelUncollectedRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleSuggestionServlet</servlet-name>
        <url-pattern>/HandleSuggestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendDeptLoginOtpServlet</servlet-name>
        <url-pattern>/dept/SendDeptLoginOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyDeptLoginOtpServlet</servlet-name>
        <url-pattern>/dept/VerifyDeptLoginOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendDeptSignupOtpServlet</servlet-name>
        <url-pattern>/dept/SendDeptSignupOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyDeptSignupOtpServlet</servlet-name>
        <url-pattern>/dept/VerifyDeptSignupOtpServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>360</session-timeout>
        <!-- 360 minutes = 6 hours -->
    </session-config>
</web-app>
